html, body {
	background-color: #999;
}
.navbarConfig {
	border-radius: 0px !important;
}
.searchForm {
	align-self: center;
}
.toolbarText {
	color: white;
	font-size: 16px;
}
.post-btn {
	padding-left: 40px;
}
.btn-outline-success {
	color: #ffffff;
	background-image: none;
	background-color: transparent;
	border-color: #317cd4;
}
.post-topic, .post-poster {
	padding-top: 10px;
}
.tags {
	font-style: italic;
	color: sandybrown;
}